<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>News Aggregator</title>

	<!-- Google font -->

</head>

<body>

	<app-slider></app-slider>

	<!-- <div id="owl-carousel-1" class="owl-carousel owl-theme center-owl-nav"> -->
	<!-- ARTICLE -->
	<!-- <div class="owl-item">
			<article class="article thumb-article">
				<div class="article-img">
					<img src="../../assets/img/img-lg-1.jpg" alt="">
				</div>
				<div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="#">News</a></li>
						<li class="article-type"><i class="fa fa-camera"></i></li>
					</ul>
					<h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
						<li><i class="fa fa-comments"></i> 33</li>
					</ul>
				</div>
			</article> -->
	<!-- /ARTICLE -->

	<!-- ARTICLE -->
	<!-- <article class="article thumb-article">
				<div class="article-img">
					<img src="../../assets/img/img-lg-2.jpg" alt="">
				</div>
				<div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="#">News</a></li>
						<li class="article-type"><i class="fa fa-file-text"></i></li>
					</ul>
					<h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
						<li><i class="fa fa-comments"></i> 33</li>
					</ul>
				</div>
			</article> -->
	<!-- /ARTICLE -->

	<!-- ARTICLE -->
	<!-- <article class="article thumb-article">
				<div class="article-img">
					<img src="../../assets/img/img-lg-2.jpg" alt="">
				</div>
				<div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="#">News</a></li>
						<li class="article-type"><i class="fa fa-file-text"></i></li>
					</ul>
					<h2 class="article-title"><a href="#">Duis urbanitas eam in, tempor consequat.</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> January 31, 2017</li>
						<li><i class="fa fa-comments"></i> 33</li>
					</ul>
				</div>
			</article> -->
	<!-- /ARTICLE -->
	<!-- </div>
	</div> -->
	<!-- Left and right controls -->



	<!-- SECTION -->
	<div class="section">
		<!-- CONTAINER -->
		<div class="container">
			<!-- ROW -->
			<div class="row">
				<!-- Main Column -->
				<div class="col-md-12">
					<!-- row -->
					<div class="row">
						<!-- Column 1 -->
						<div class="col-md-4 col-sm-4" *ngFor="let item of articles">
							<!-- section title -->
							<!-- bussiness title <div class="section-title"> -->
							<!-- <h2 class="title">Business</h2> -->
							<!-- <button style="height: 50px;width: 130px;font-weight: 700;font-family: Georgia, 'Times New Roman', Times, serif;" class="title" [routerLink]="['/business']">Business</button> -->

							<!-- </div> -->
							<!-- /section title -->

							<!-- ARTICLE -->
							<!-- <p>{{item}}</p> -->
							<article class="article" style="height: 25em;">
								<div class="article-img">
									<a href={{item.news.url}} target="_blank">
										<img src={{item.news.urlToImage}} style="height: 15em;" alt="Image Loading...">
									</a>
									<ul class="article-info">
										<li class="article-type" (click)="onClickLike(item)"><i [class]="item.liked_posts%2?'fa fa-heart':'fa fa-heart-o'"></i></li>
									<li style="background-color: transparent;">&nbsp;&nbsp;&nbsp;&nbsp;</li>
										<li class="article-type"><i class="fa fa-share-alt"></i></li>
									</ul>
								</div>
								<div class="article-body">
									<h3 class="article-title" id="title_id"><a href={{item.news.url}}
											target="_blank">{{item.news.title}}</a></h3>
									<ul class="article-meta">
										<li><i class="fa fa-clock-o"></i> {{item.news.publishedAt}}</li>
										
									</ul>
									<p>{{item.news.description}}</p>
								</div>
							</article>
							<!-- /ARTICLE -->

							<!-- ARTICLE -->

							<!-- /ARTICLE -->

							<!-- ARTICLE -->

							<!-- /ARTICLE -->
						</div>
						<!-- /Column 1 -->

						<!-- Column 2 -->

						<!-- /Column 2 -->
						<!--                            column 3-->

						<!--                            column 3 end-->
					</div>
					<!-- /row -->

					<!-- row -->
					<!-- /row -->

					<!-- row -->

					<!-- /row -->
				</div>
				<!-- /Main Column -->

				<!-- Aside Column -->

				<!-- /Aside Column -->
			</div>
			<!-- /ROW -->
		</div>
		<!-- /CONTAINER -->
	</div>
	<!-- /SECTION -->

	<!-- AD SECTION -->
	<!--
		<div class="visible-lg visible-md">
			<img class="center-block" src="./img/ad-3.jpg" alt="">
		</div>
-->
	<!-- /AD SECTION -->

	<!-- SECTION -->
	<!--		poopular videos-->
	<!-- /SECTION -->

	<!-- SECTION -->

	<!-- /SECTION -->

	<!-- FOOTER -->


	<!-- jQuery Plugins -->

</body>


</html>