<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- slide show -->
	<div class="container">
		<div class="slider">
			<div class="slide slide1">
				<img src="{{articles[6].urlToImage}}" alt="">
				<a href={{articles[6].url}} target="_blank">
					<div class="caption">
						<h2>{{articles[6].title}}</h2>
					</div>
				</a>
			</div>
			<div class="slide slide2">
				<img src="{{articles[7].urlToImage}}" alt="">
				<a href={{articles[7].url}} target="_blank">
					<div class="caption">
						<h2>{{articles[7].title}}</h2>
					</div>
				</a>
			</div>
			<div class="slide slide3">
				<img src="{{articles[8].urlToImage}}" alt="">
				<a href={{articles[8].url}} target="_blank">
					<div class="caption">
						<h2>{{articles[8].title}}</h2>
					</div>
				</a>
			</div>
			<div class="slide slide4">
				<img src="{{articles[9].urlToImage}}" alt="">
				<a href={{articles[9].url}} target="_blank">
					<div class="caption">
						<h2>{{articles[9].title}}</h2>
					</div>
				</a>
			</div>
			<div class="slide slide1">
				<img src="{{articles[6].urlToImage}}" alt="">
				<a href={{articles[6].url}} target="_blank">
					<div class="caption">
						<h2>{{articles[6].title}}</h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>