
<footer id="footer" class="footer">
    <!-- Top Footer -->
    <div id="top-footer" class="section">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <!-- Column 1 -->
                
                
                <!-- Column 2 -->
                <div class="col-md-6">
                    <!-- footer article -->
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h2 class="title">Featured Posts</h2>
                        </div>

                        <!-- ARTICLE -->
                        <article class="article widget-article">
                            <div class="article-img">
                                <a href="#">
                                    <img src="{{articles[0].urlToImage}}" alt="">
                                </a>
                            </div>
                            <div class="article-body">
                                <h4 class="article-title"><a href="#">{{articles[0].title}}</a></h4>
                                <ul class="article-meta">
                                    <li><i class="fa fa-clock-o"></i> {{articles[0].publishedAt}}</li>
                                    
                                </ul>
                            </div>
                        </article>
                        <!-- /ARTICLE -->
                        
                        <!-- ARTICLE -->
                        <article class="article widget-article">
                            <div class="article-img">
                                <a href="#">
                                    <img src="{{articles[1].urlToImage}}" alt="">
                                </a>
                            </div>
                            <div class="article-body">
                                <h4 class="article-title"><a href="#">{{articles[1].title}}</a></h4>
                                <ul class="article-meta">
                                    <li><i class="fa fa-clock-o"></i> {{articles[1].publishedAt}}</li>
                                    
                                </ul>
                            </div>
                        </article>
                        <!-- /ARTICLE -->
                        
                        <!-- ARTICLE -->
                        <article class="article widget-article">
                            <div class="article-img">
                                <a href="#">
                                    <img src="{{articles[2].urlToImage}}" alt="">
                                </a>
                            </div>
                            <div class="article-body">
                                <h4 class="article-title"><a href="#">{{articles[2].title}}</a></h4>
                                <ul class="article-meta">
                                    <li><i class="fa fa-clock-o"></i> {{articles[2].publishedAt}}</li>
                                    
                                </ul>
                            </div>
                        </article>
                        <!-- /ARTICLE -->
                    </div>
                    <!-- /footer article -->
                </div>
                <!-- /Column 2 -->
                
                <!-- Column 3 -->
                <div class="col-md-6">
                    <!-- footer galery -->
                    <div class="footer-widget galery-widget">
                        <div class="widget-title">
                            <h2 class="title">Flickr Photos</h2>
                        </div>
                        <ul >
                            <li *ngFor="let item of articles"><a href="#"><img src="{{item.urlToImage}}" alt=""></a></li>
                            
                        </ul>
                    </div>
                    <!-- /footer galery -->
                    
                    <!-- footer tweets -->
                    
                    <!-- /footer tweets -->
                </div>
                <!-- /Column 3 -->
            </div>
            <!-- /ROW -->
        </div>
        <!-- /CONTAINER -->
    </div>
    <!-- /Top Footer -->
    
    <!-- Bottom Footer -->
    <div id="bottom-footer" class="section">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <!-- footer links -->
                <div class="col-md-6 col-md-push-6">
<!--
                    <ul class="footer-links">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Advertisement</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
-->
                </div>
                <!-- /footer links -->
                
                <!-- footer copyright -->
                <div class="col-md-6 col-md-pull-6">
                    <div class="footer-copyright">
                     
                    </div>
                </div>
                <!-- /footer copyright -->
            </div>
            <!-- /ROW -->
        </div>
        <!-- /CONTAINER -->
    </div>
    <!-- /Bottom Footer -->
</footer>
<!-- /FOOTER -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- Back to top -->
