<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="main-header">
            
            <p *ngIf="news.length==0">"You Have No Favourite Post Yet!!"</p>
        </div>
        <div *ngFor="let item of news">
           
            <div class="card">
                <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                <img src="{{item.url_to_image}}" alt="image loading">
                </a>
                <div>
                    <a href="{{item.url}}" target="_blank" style="text-decoration: none;color: black;">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    </a>
                    <a class="btn" (click)="onDlike(item)">DISLIKE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="btn">SHARE</a>
                </div>
            </div>
        
        </div>
    </div>

    

</body>

</html>